/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/Resources/*.db
/app/Resources/*.sqlite
/build/
/vendor/
/bin/
/src/Kateglo/PusbaBundle/Service/Curl.php
/composer.phar
/.idea
/.idea/*/*
