<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li class="no"><a href="http://bahtera.org">Bahtera</a></li>
                <li><a href="/entri/hariini">Entri hari ini</a></li>
                <li><a href="/acak/entri">Entri acak</a></li>
                <li><a href="/acak/salaheja">Salah eja</a></li>
                <li><a href="http://blog.bahtera.org">Blog</a></li>
                <!--li><a href="#">Mobile</a></li-->
                <li><a href="/kontak">Kontak</a></li>
                <li>
                    <a href="http://code.google.com/p/kateglo/wiki/KategloPemanfaatanInternetUntukPengayaanIstilahBahasaIndonesia">Tentang
                        Kateglo</a></li>
                <li><a href="http://code.google.com/p/kateglo/wiki/PencarianKateglo">FAQ</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/aplikasi">Aplikasi</a></li>
                <li><a href="http://twitter.com/#!/kateglo">Twitter</a></li>
                <!--li><a href="#">Facebook</a></li-->
            </ul>
            <!-- footnav -->
            <ul class="alphabet">
                <li class="no"><a href="/alfabet/a">A</a></li>
                <li><a href="/alfabet/b">B</a></li>
                <li><a href="/alfabet/c">C</a></li>
                <li><a href="/alfabet/d">D</a></li>
                <li><a href="/alfabet/e">E</a></li>
                <li><a href="/alfabet/f">F</a></li>
                <li><a href="/alfabet/g">G</a></li>
                <li><a href="/alfabet/h">H</a></li>
                <li><a href="/alfabet/i">I</a></li>
                <li><a href="/alfabet/j">J</a></li>
                <li><a href="/alfabet/k">K</a></li>
                <li><a href="/alfabet/l">L</a></li>
                <li><a href="/alfabet/m">M</a></li>
                <li><a href="/alfabet/n">N</a></li>
                <li><a href="/alfabet/o">O</a></li>
                <li><a href="/alfabet/p">P</a></li>
                <li><a href="/alfabet/q">Q</a></li>
                <li><a href="/alfabet/r">R</a></li>
                <li><a href="/alfabet/s">S</a></li>
                <li><a href="/alfabet/t">T</a></li>
                <li><a href="/alfabet/u">U</a></li>
                <li><a href="/alfabet/v">V</a></li>
                <li><a href="/alfabet/w">W</a></li>
                <li><a href="/alfabet/x">X</a></li>
                <li><a href="/alfabet/y">Y</a></li>
                <li><a href="/alfabet/z">Z</a></li>
            </ul>
            <!-- abc -->
        </nav>
        <p>All the words are brought to you by Kateglo, the free online Indonesia dictionary and thesaurus &copy;2009-2013</p>
    </div>
</footer>