{% block title %}Aktivasi Akun{% endblock %}
{% block fos_user_content %}
    <h2>Aktivasi Akun</h2>
    <form action="{{ path('kateglo_user_default_confirm') }}" method="GET"
          onSubmit="this.action += '/'+this.token.value; $(this.token).removeAttr('name');">
        <input type="text" name="token"
               required="required" autocomplete="off"
               placeholder="Kunci Aktivasi"/>
        <button type="submit">Aktivasi Akun</button>
    </form>
{% endblock fos_user_content %}