<?xml version="1.0"  encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:framework="http://symfony.com/schema/dic/symfony"
           xmlns:twig="http://symfony.com/schema/dic/twig"
           xmlns:assetic="http://symfony.com/schema/dic/assetic"
           xmlns:doctrine="http://symfony.com/schema/dic/doctrine"
           xmlns:swiftmailer="http://symfony.com/schema/dic/swiftmailer"
           xmlns:webprofiler="http://symfony.com/schema/dic/webprofiler"
           xmlns:monolog="http://symfony.com/schema/dic/monolog"
           xmlns:fos_user="fos_user"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd
           http://symfony.com/schema/dic/symfony http://symfony.com/schema/dic/symfony/symfony-1.0.xsd
           http://symfony.com/schema/dic/twig http://symfony.com/schema/dic/twig/twig-1.0.xsd
           http://symfony.com/schema/dic/assetic http://symfony.com/schema/dic/assetic/assetic-1.0.xsd
           http://symfony.com/schema/dic/doctrine http://symfony.com/schema/dic/doctrine/doctrine-1.0.xsd
           http://symfony.com/schema/dic/swiftmailer http://symfony.com/schema/dic/swiftmailer/swiftmailer-1.0.xsd
           http://symfony.com/schema/dic/webprofiler http://symfony.com/schema/dic/webprofiler/webprofiler-1.0.xsd
           http://symfony.com/schema/dic/monolog http://symfony.com/schema/dic/monolog/monolog-1.0.xsd">

    <!--
        #Imports Configuration
        imports:
            - { resource: parameters.yml }
            - { resource: security.yml }
    -->
    <imports>
        <import resource="parameters.xml"/>
        <import resource="security.xml"/>
    </imports>

    <!--
        #Framework Configuration
        framework:
            #esi:             ~
            #translator:      { fallback: %locale% }
            secret:          %secret%
            router:
                resource: "%kernel.root_dir%/config/routing.xml"
                strict_requirements: %kernel.debug%
            form:            ~
            csrf_protection: ~
            validation:      { enable_annotations: true }
            templating:
                engines: ['twig']
                #assets_version: SomeVersionScheme
            default_locale:  "%locale%"
            trusted_proxies: ~
            session:         ~
            fragments:       ~

     -->
    <framework:config secret="%secret%" default-locale="%locale%" trusted-proxies="">
        <!--framework:esi enabled="true"/>
        <framework:translator fallback="%locale%"/-->
        <framework:router resource="%kernel.root_dir%/config/routing.xml" strict-requirements="%kernel.debug%"/>
        <framework:form enabled="true"/>
        <framework:csrf-protection enabled="true"/>
        <framework:validation enable-annotations="true"/>
        <framework:templating>
            <framework:engine>twig</framework:engine>
        </framework:templating>
        <framework:session/>
        <framework:fragments enabled="true"/>
    </framework:config>

    <!--
        # Twig Configuration
        twig:
            debug:            %kernel.debug%
            strict_variables: %kernel.debug%
    -->
    <twig:config debug="%kernel.debug%" strict-variables="%kernel.debug%"/>

    <!--
        # Assetic Configuration
        assetic:
            debug:          %kernel.debug%
            use_controller: false
            bundles:        [ ]
            #java: /usr/bin/java
            filters:
                cssrewrite: ~
                #closure:
                #    jar: %kernel.root_dir%/Resources/java/compiler.jar
                #yui_css:
                #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

    -->
    <assetic:config debug="%kernel.debug%" use-controller="false" java="/usr/bin/java">
        <assetic:filter name="cssrewrite"/>
        <!--assetic:filter name="closure" jar="%kernel.root_dir%/Resources/java/compiler.jar"/>
        <assetic:filter name="closure" jar="%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"/-->
    </assetic:config>

    <!--
        # Doctrine Configuration
        doctrine:
            dbal:
                driver:   %database_driver%
                host:     %database_host%
                port:     %database_port%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
                charset:  UTF8
                # if using pdo_sqlite as your database driver, add the path in parameters.yml
                # e.g. database_path: %kernel.root_dir%/data/data.db3
                # path:     %database_path%

            orm:
                auto_generate_proxy_classes: %kernel.debug%
                auto_mapping: true
    -->
    <doctrine:config>
        <doctrine:dbal driver="%database_driver%" host="%database_host%" port="%database_port%" dbname="%database_name%"
                       user="%database_user%" password="database_password%" path="%database_path%" charset="UTF8"/>
        <doctrine:orm auto-generate-proxy-classes="%kernel.debug%" auto-mapping="true"/>
    </doctrine:config>


    <!--
        # Swiftmailer Configuration
        swiftmailer:
            transport: %mailer_transport%
            host:      %mailer_host%
            username:  %mailer_user%
            password:  %mailer_password%
            spool:     { type: memory }
    -->
    <swiftmailer:config transport="%mailer_transport%" host="%mailer_host%" username="%mailer_user%"
                        password="%mailer_password%">
        <swiftmailer:spool type="memory"/>
    </swiftmailer:config>

    <fos_user:config db-driver="orm" firewall-name="secured_area" user-class="Kateglo\UserBundle\Entity\User" />
</container>
