{% extends '::base.html.twig' %}
{% block content %}
    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="span6">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}

