/* Sticky Footer
-------------------------------------------------- */
html, body {
 height: 100%;
}

.wrap {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -100px;
}

.push {
    height: 110px;
}

footer {
 height: 100px;
 background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

/* ------------------------------------------------- */

.center{
 text-align: center; 
}

.logo{
 font-family: 'Droid Serif'; 
 font-size: 90px;  
 color: #2773BD;
 font-weight: normal; 
 margin-bottom: 45px;
 text-shadow: 1px 1px 0 #105496, -1px -1px 0 #4589CD;   
}

.navbar-inverse .brand{
 font-family: 'Droid Serif';  
 color: #fff;
 font-weight: normal; 
 text-shadow: -0.2px -0.2px 0 #97B9DC, 0.2px 0.2px 0 #2A73BB;   
}

#home-container{
 margin-top: 150px;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
 font-weight: normal;    
}

footer {
    color: #999999;
    text-align: center;
}

footer ul:first-child {
    margin-top: 10px;
}

footer a {
    color: #156BC0;
}

footer a:hover {
    color: #333333;
}

footer li {
    display: inline;
    list-style: none outside none;
}

footer li:before {
    content: ".";
    padding: 0 5px;
}

footer .no:before {
    content: none;
    padding: 0;
}

footer .alphabet {
    font-size: 16px;
}